// Biến màu sắc chính
$primary-color: #4154f1;
$secondary-color: #5465f2;
$tertiary-color: #6676f3;
$quaternary-color: #7a87f5;
$quinary-color: #8d98f6;
$senary-color: #a0a9f8;
$septenary-color: #b3baf9;
$octonary-color: #c6cbfa;
$nonary-color: #d9dcfc;
$denary-color: #ecedfd;
$white-color: #ffffff;

$background-color: #f6f9ff;
$text-color: #444444;
$hover-color: red;
$accent-color: #012970;

// Font family
$font-family-base: "Open Sans", sans-serif;
$font-family-heading: "Nunito", sans-serif;
$font-family-title: "Poppins", sans-serif;
