 // Neutral Colors
 $color-white: #fff;
 $color-gray-light: #ebeef4;
 $color-gray-medium: #777777;
 $color-gray-dark: #444444;
 $color-gray-dark-alt: #012970;
 $color-gray-alt: #d3d3d4;
 $color-gray-light-alt: #eaedf1;
 $color-gray-border: #aab7cf;

 // Blue Colors
 $color-blue-primary: #4154f1;
 $color-blue-secondary: #717ff5;
 $color-blue-light: #a5c5fe;
 $color-blue-light-alt: #cfe2ff;
 $color-blue-background: #f6f9ff;
 $color-blue-alt: #51678f;
 $color-blue-border: #899bbd;

 // Other Colors
 $color-black: #2c384e;
 $color-text-dark: #444444;
 $color-link: #6776f4;
 $color-link-hover: #899bbd;
 $color-border-light: #ebeef4;
 $color-border-dark: #798eb3;

 // Additional Colors
 $color-link-active: #717ff5;
 $color-link-visited: #51678f;
 $color-background-hover: #eceefe;
 $color-placeholder: #888;
