// Font Families
$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Nunito', sans-serif;
$font-family-poppins: 'Poppins', sans-serif;

// Font Sizes
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-xxl: 1.5rem;
$font-size-xxxl: 2rem;

// Font Weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

// Line Heights
$line-height-xs: 1.2;
$line-height-sm: 1.4;
$line-height-md: 1.5;
$line-height-lg: 1.6;
$line-height-xl: 1.8;
