//Import lib
@import "~bootstrap/scss/bootstrap";
@import "toastr";

// Import variables, mixins, and colors first
@import 'color';

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root{
  scroll-behavior: smooth;

}

body {
  background-color: var(--background);
  color: var(--foreground);
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

.logo {
  line-height: 1;
}



.logo img {
  max-height: 26px;
  margin-right: 6px;
}

.logo span {
  font-size: 26px;
  font-weight: 700;
  color: #012970;
  font-family: "Nunito", sans-serif;
}

#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;

  @media (max-width: 1199px) {
    padding: 20px;
  }
}

.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
