<p><%= t('email.welcome_message', email: @email) %></p>

<p><%= t('email.email_confirmation.confirm_email') %></p>

<p><%= link_to t('email.email_confirmation.confirm_button'), confirmation_url(@resource, confirmation_token: @token) %></p>
