@import "../../_color";
@import "../../_typography";

.footer {
  padding: 1.25rem 0;
  font-size: $font-size-sm;
  transition: all .3s;
  border-top: 1px solid #cddfff;
}

.footer .copyright {
  text-align: center;
  color: $color-gray-dark-alt;
}

.footer .credits {
  padding-top: 0.3125rem;
  text-align: center;
  font-size: $font-size-xs;
  color: $color-gray-dark-alt;
}
