body {
  // Sets the background color of the body to a variable defined in CSS, allowing for easy theme changes.
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  // Sets the width of the wrapper to 100%, making it span the entire width of its container.
  width: 100%;

  // Applies padding to the left and right based on the sidebar's occupancy.
  // The `@include ltr-rtl` mixin handles left-to-right and right-to-left layouts.
  // The padding values are derived from CSS variables that may default to 0 if not defined.
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  @include ltr-rtl("padding-right", var(--cui-sidebar-occupy-end, 0));

  // Indicates that the element may change in size or layout, which can optimize rendering performance.
  will-change: auto;

  // Applies a transition effect on the padding property, making it smoothly change over 0.15 seconds.
  @include transition(padding .15s);
}

.header>.container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px);
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-toggler {
  @include ltr-rtl("margin-left", auto);
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    @include ltr-rtl("margin-right", auto);
  }
}

.header>.container-fluid+.container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    body {
      background-color: var(--cui-dark-bg-subtle);
    }

    .footer {
      --cui-footer-bg: var(--cui-body-bg);
    }
  }
}
