<!-- app/views/layouts/_footer.html.erb -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; <%= t("layouts.footer.copyright") %> <strong><span>BookingApp</span></strong>. <%= t("layouts.footer.reserved") %>
    </div>
  </footer>
