<header class id="header">
<section class="headtop">
    <div class="container">
        <div class="row">
            <ul class="menutop">

                <li><a href="https://tongkhonhaccu.com/tai-sao-mua-hang-tai-tygy-shop.html" title=" Tại sao mua hàng chính hãng tại TYGY Shop?"> Tại sao mua hàng chính hãng tại TYGY Shop?</a></li>

                <li><a href="https://tongkhonhaccu.com/loi-ich-khi-su-dung-tai-khoan-mua-hang.html" title="Lợi ích khi sử dụng tài khoản mua hàng">Lợi ích khi sử dụng tài khoản mua hàng</a></li>

                <li><a href="https://tongkhonhaccu.com/tra-cuu-don-hang.html" title="Tra cứu trạng thái đơn hàng">Tra cứu trạng thái đơn hàng</a></li>

                <li><a href="https://tongkhonhaccu.com/kiem-tra-hanh-trinh-don-hang.html" title="Kiểm tra hành trình đơn hàng">Kiểm tra hành trình đơn hàng</a></li>

            </ul>
        </div>
    </div>
</section>
</section>
<section class="headermiddle">Header middle</section>
<%= render 'layouts/navbar'%>
</header>
