<!-- app/views/layouts/_sidebar.html.erb -->
  <h4>Sidebar</h4>
  <ul>
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>
    <!-- Thêm các mục sidebar khác ở đây -->
  </ul>
